@model AYweb.Dal.Entities.Product.Product


<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>فروشگاه</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">آی وب</a></li>
                        <li><a asp-controller="Product" asp-action="Index">فروشگاه</a></li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Shapes" />
</div>
<!-- End Page Title Area -->
<!-- Start Product Details Area -->
<section class="product-details-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-image">
                    <img src=" /img/shop-image/@Model.PictureName" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3>@Model.Name</h3>

                    <div class="price">
                        @if (Model.DiscountedPrice != 0)
                        {
                            <span class="new-price">@Model.DiscountedPrice.Value.ToString("#,0 تومان")</span>
                            <span class="old-price">@Model.Price.ToString("#,0 تومان") </span>
                        }
                        else
                        {
                            <span class="price">@Model.Price.ToString("#,0 تومان") </span>
                        }
                    </div>

                    <div class="product-review">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <a href="#" class="rating-count">3 مشاهده</a>
                    </div>

                    <p>@Model.ShortDescription</p>

                    <div class="product-add-to-cart">
                        <div class="input-counter">
                            <span class="minus-btn"><i class="fas fa-minus"></i></span>
                            <input type="text" min="1" value="1">
                            <span class="plus-btn"><i class="fas fa-plus"></i></span>
                        </div>

                        <button type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> افزودن سبد خرید <span></span></button>
                    </div>

                    <div class="buy-checkbox-btn">
                        <div class="item">
                            <input class="inp-cbx" id="cbx" type="checkbox">
                            <label class="cbx" for="cbx">
                                <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span>من با شرایط و ضوابط موافقم</span>
                            </label>
                        </div>

                        <div class="item">
                            <a href="#" class="btn btn-light">اکنون بخرید!</a>
                        </div>
                    </div>

                    <div class="custom-payment-options">
                        <span>پرداخت امن:</span>

                        <div class="payment-methods">
                            <a href="#"><img src=" /img/payment/1.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/2.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/3.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/4.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/5.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/6.svg" alt="image"></a>
                            <a href="#"><img src=" /img/payment/7.svg" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> توضیحات
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="dot"></div> مشخصات
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="dot"></div> دیدگاه ها
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <p>@Html.Raw(Model.MainDescription)</p>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <ul class="additional-information">
                                            @foreach (var feature in Model.Features)
                                            {
                                                <li><span>@feature.Value:</span> @feature.Title</li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <partial name="_ProductComments" model="@Model.Comments" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="related-products">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">فروشگاه</span>
                <h2>محصولات مرتبط</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-product-box">
                        <div class="product-image">
                            <a href="#">
                                <img src=" /img/shop-image/1.jpg" alt="image">
                                <img src=" /img/shop-image/1-1.jpg" alt="image">
                            </a>

                            <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>
                        </div>

                        <div class="product-content">
                            <h3><a href="#">کتاب داستان</a></h3>
                            <div class="price">
                                <span class="new">45500 تومان</span>
                                <span class="old">46000 تومان</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-product-box">
                        <div class="product-image">
                            <a href="#">
                                <img src=" /img/shop-image/2.jpg" alt="image">
                                <img src=" /img/shop-image/2-1.jpg" alt="image">
                            </a>

                            <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>

                            <div class="sale-btn">ویژه!</div>
                        </div>

                        <div class="product-content">
                            <h3><a href="#">کتاب رمان</a></h3>
                            <div class="price">
                                <span class="new">54100 تومان</span>
                                <span class="old">65200 تومان</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3">
                    <div class="single-product-box">
                        <div class="product-image">
                            <a href="#">
                                <img src=" /img/shop-image/3.jpg" alt="image">
                                <img src=" /img/shop-image/3-1.jpg" alt="image">
                            </a>

                            <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>
                        </div>

                        <div class="product-content">
                            <h3><a href="#">کتاب دیوها</a></h3>
                            <div class="price">
                                <span class="new">14100 تومان</span>
                                <span class="old">24200 تومان</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Details Area -->