@page
@using AYweb.Application.Convertors
@using System.Configuration
@model AYweb.Presentation.Pages.Admin.User.IndexModel
@inject IConfiguration _config;

<div class="col-12 p-5">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Users List</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Family</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Phone Confrimation</th>
                        <th scope="col">Registration Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users.QueryResult)
                    {
                        <tr id="user[@user.Id]">
                            <th scope="row">@user.Id</th>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td class="text-center">@user.PhoneNumber</td>
                            <td class="text-center">
                                @if (user.PhoneNumberConfrimation)
                                {
                                    <i class="fa fa-check-square text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-window-close text-danger"></i>

                                }
                            </td>
                            <td class="text-center">@user.CreateAt.ToShamsi()</td>
                            <td>
                                <a href="/Admin/User/Details/@user.Id" class="btn btn-primary">View</a>
                                <a class="btn btn-primary">Edit</a>
                                <a class="btn btn-danger" onclick="Delete(@user.Id)">Delete</a>
                                @if (!user.PhoneNumberConfrimation)
                                {
                                    <a href="/Admin/User/ApprovePhoneNumber?phoneNumber=@user.PhoneNumber" class="btn btn-success">Confirm PhoneNumber</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("Are you sure to delete the user? ")) {
                $.ajax({
                    type: "Get",
                    url: 'https://@(_config.GetValue<string>("MySetting:DomainAddress"))/Admin/User/Delete/' + id,
                    success: function () {
                        document.getElementById("user[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }

    </script>
}

