@using AYweb.Application.Convertors
@using AYweb.Application.Models.Blog.Queries.Common
@using AYweb.Application.Models.Blog.Queries.GetBlogs
@using AYweb.Domain.Models.Blog.Entities
@using MediatR
@inject ISender _sender;

<aside class="widget-area" id="secondary">
    <section class="widget widget_search">
        <form class="search-form" method="get" asp-controller="Blog" asp-action="Index">
            <label>
                <span class="screen-reader-text">جستجو کنید:</span>
                <input type="search" value="@Context.Request.Query["search"].ToString()" name="search" class="search-field" placeholder="جستجو کنید ...">
            </label>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </section>

    <section class="widget widget_aronix_posts_thumb">
        <h3 class="widget-title">پست های محبوب</h3>

        @foreach (var news in ViewData["PopularNews"] as List<BlogResult> ?? new List<BlogResult>())
        {
            <article class="item">
                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@news.Id" class="thumb">
                    <span class="fullimage cover bg1" role="img">
                        <img class="fullimage cover bg1" src="/img/blog-image/@news.ImageName" />
                    </span>
                </a>
                <div class="info">
                    <time datetime="@news.CreateAt">@news.CreateAt.ToShamsi()</time>
                    <h4 class="title usmall"><a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@news.Id">@news.Title</a></h4>
                </div>

                <div class="clear"></div>
            </article>
        }

    </section>

    <section class="widget widget_categories">
        <h3 class="widget-title">دسته بندی ها</h3>

        <ul>
            @foreach (var group in ViewData["newsGroups"] as List<BlogGroup> ?? new List<BlogGroup>())
            {
                <li><a asp-controller="Blog" asp-action="Index" asp-route-search="@group.Title">@group.Title</a></li>
            }
        </ul>

    </section>

    <section class="widget widget_recent_comments">
        <h3 class="widget-title">آخرین نظرات</h3>

        <ul>
            @foreach (var comment in ViewData["LastComment"] as List<CommentResult> ?? new List<CommentResult>())
            {
                <li>
                    <span class="comment-author-link">
                        <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@comment.BlogId">نظر @comment.UserName</a>
                    </span>
                    در
                    <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@comment.BlogId">@comment.Text.Substring(0, 20)...</a>
                </li>
            }
        </ul>
    </section>

    <section class="widget widget_recent_entries">
        <h3 class="widget-title">پست های اخیر</h3>

        <ul>
            @foreach (var news in ViewData["LastNews"] as List<BlogResult> ?? new List<BlogResult>())
            {
                <li><a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@news.Id">@news.Title</a></li>
            }
        </ul>

    </section>

    <section class="widget widget_tag_cloud">
        <h3 class="widget-title">برچسب ها</h3>

        <div class="tagcloud">
            @foreach (var tag in ViewData["tags"] as List<string> ?? new List<string>())
            {
                <a asp-controller="Blog" asp-action="Index" asp-route-search="@tag">@tag <span class="tag-link-count"> (10)</span></a>
            }
        </div>
    </section>
</aside>