@using AIPFramework.Queries
@using AYweb.Application.Models.Product.Queries.Common

@model PagedData<ProductResult>
@{    
    int lastPage = ViewBag.lastPage;
    int nextPage = ViewBag.nextPage;
}

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>فروشگاه</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">آی وب</a></li>
                        <li>فروشگاه</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <partial name="_Shapes"/>
  
</div>
<!-- End Page Title Area -->
<!-- Start Shop Area -->
<section class="shop-area pb-100">
    <div class="container">
        <div class="woocommerce-topbar">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <div class="woocommerce-result-count">
                        <p>نمایش @((Model.PageNumber-1)*Model.PageSize) - @(Model.PageNumber*Model.PageSize) از @Model.TotalCount نتیجه</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="woocommerce-topbar-ordering">
                        <select>
                            <option value="1">مرتب سازی پیش فرض</option>
                            <option value="2">بر اساس محبوبیت</option>
                            <option value="0">بر اساس امتیاز</option>
                            <option value="3">بر اساس جدیدترین</option>
                            <option value="4">بر اساس قیمت (پایین به بالا)</option>
                            <option value="5">بر اساس قیمت (بالا به پایین)</option>
                            <option value="6">بر اساس جدیدترین ها</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var product in Model.QueryResult)
            {
                <partial name="_ProductView" model="product"/>
            }

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a asp-controller="Product" asp-action="Index" asp-route-pageId="@lastPage" class="prev page-numbers"><i class="fas fa-angle-double-right"></i></a>
                    @for (int i = 1; i <= Model.pageCount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <span class="page-numbers current" aria-current="page">@i</span>
                        }
                        else
                        {
                            <a asp-controller="Product" asp-action="Index" asp-route-pageId="@i" class="page-numbers">@i</a>
                        }
                    }
                    <a asp-controller="Product" asp-action="Index" asp-route-pageId="@nextPage" class="next page-numbers"><i class="fas fa-angle-double-left"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Shop Area -->