@using AYweb.Application.Models.Product.Queries.Common
@model ProductResult

@section Styles {
    <title>آی وب - @Model.Name</title>

    <meta name="description" content="@Model.SeoDescription" />

    <meta name=googlebot content=index,follow>

    <meta property="og:title" content="آی وب - @Model.Name" />
    <meta property="og:image" content="/img/shop-image/@Model.ImageName" />
    <meta property="og:description" content="@Model.SeoDescription" />
    <meta property="og:url" content="https://ayweb.work/product/@Model.Id" />
}

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>فروشگاه</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">آی وب</a></li>
                        <li><a asp-controller="Product" asp-action="Index">فروشگاه</a></li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Shapes" />
</div>
<!-- End Page Title Area -->
<!-- Start Product Details Area -->
<section class="product-details-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-image">
                    <img src=" /img/shop-image/@Model.ImageName" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3>@Model.Name</h3>

                    <div class="price">
                        @if (Model.DiscountedPercent != 0)
                        {
                            float discount = Model.DiscountedPercent;
                            <span class="new">@((Model.Price - (Model.Price * (discount / 100))).ToString("#,0 تومان"))</span>
                            <span class="old text-secondary">@Model.Price.ToString("#,0 تومان") </span>
                        }
                        else
                        {
                            <span class="price">@Model.Price.ToString("#,0 تومان") </span>
                        }
                    </div>

                    <div class="product-review">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <a href="#" class="rating-count">3 مشاهده</a>
                    </div>

                    <p>@Model.ShortDescription</p>

                    <div class="product-add-to-cart">
                        <form asp-controller="Product" asp-action="AddProductToCart" method="post" asp-antiforgery="true">
                            <input type="hidden" name="addproduct.ProductId" value="@Model.Id" />
                            <div class="input-counter">
                                <span class="minus-btn"><i class="fas fa-minus"></i></span>
                                <input type="text" name="addproduct.Amount" min="1" value="@((Model.Inventory == 0 || Model.Inventory <= 0) ? "0" : "1")" @((Model.Inventory == 0 || Model.Inventory <= 0) ? "disable" : "") max="@Model.Inventory">
                                <span class="plus-btn"><i class="fas fa-plus"></i></span>
                            </div>


                            @if (Model.Inventory is 0)
                            {
                                <button type="button" class="default-btn btn-danger "><i class="fas fa-cart-plus"></i> کالا موجود نیست <span></span></button>
                            }
                            else
                            {
                                <button type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> افزودن سبد خرید <span></span></button>
                            }

                        </form>
                    </div>

            
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> توضیحات
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="dot"></div> مشخصات
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="dot"></div> دیدگاه ها
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <p>@Html.Raw(Model.MainDescription)</p>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <ul class="additional-information">
                                            @foreach (var feature in Model.Features)
                                            {
                                                <li><span>@feature.Value:</span> @feature.Title</li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <partial name="_ProductComments" model="@Model.Comments" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @if (Context.Request.Query["addSuccess"].ToString().ToLower() == "true")
        {
            <script>
                $.notify("کالا به سبد خرید اضافه شد!", "success");
            </script>
        }
    }

    @* <div class="related-products">
    <div class="container">
    <div class="section-title">
    <span class="sub-title">فروشگاه</span>
    <h2>محصولات مرتبط</h2>
    </div>

    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-product-box">
    <div class="product-image">
    <a href="#">
    <img src=" /img/shop-image/1.jpg" alt="image">
    <img src=" /img/shop-image/1-1.jpg" alt="image">
    </a>

    <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>
    </div>

    <div class="product-content">
    <h3><a href="#">کتاب داستان</a></h3>
    <div class="price">
    <span class="new">45500 تومان</span>
    <span class="old">46000 تومان</span>
    </div>
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-product-box">
    <div class="product-image">
    <a href="#">
    <img src=" /img/shop-image/2.jpg" alt="image">
    <img src=" /img/shop-image/2-1.jpg" alt="image">
    </a>

    <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>

    <div class="sale-btn">ویژه!</div>
    </div>

    <div class="product-content">
    <h3><a href="#">کتاب رمان</a></h3>
    <div class="price">
    <span class="new">54100 تومان</span>
    <span class="old">65200 تومان</span>
    </div>
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3">
    <div class="single-product-box">
    <div class="product-image">
    <a href="#">
    <img src=" /img/shop-image/3.jpg" alt="image">
    <img src=" /img/shop-image/3-1.jpg" alt="image">
    </a>

    <a href="#" class="add-to-cart-btn">افزودن سبد خرید <i class="flaticon-shopping-cart"></i></a>
    </div>

    <div class="product-content">
    <h3><a href="#">کتاب دیوها</a></h3>
    <div class="price">
    <span class="new">14100 تومان</span>
    <span class="old">24200 تومان</span>
    </div>
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
</section>
<!-- End Product Details Area -->