@using AYweb.Application.Models.Order.Commands.PayOrder
@using AYweb.Application.Models.Order.Queries.Common
@model PayOrderCommand

@{
    var order = ViewData["Order"] as OrderResult;
}



<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>بررسی</h2>

                    <ul>
                        <li><a href="#">صفحه اصلی</a></li>
                        <li>پرداخت</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <partial name="_shapes" />
</div>
<!-- End Page Title Area -->
<!-- Start Checkout Area -->
<section class="checkout-area pb-100">
    <div class="container">
        @if (!Context.User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="user-actions">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>مشتری برگشتی؟ <a href="#">ورود به سیستم</a></span>
                    </div>
                </div>
            </div>

        }
        <form method="post" asp-controller="Order" asp-action="CheckOut" enctype="multipart/form-data">
            <div class="row pt-3">
                <div class="col-lg-6 col-md-12">
                    <div class="billing-details">
                        <h3 class="title">جزئیات فاکتور</h3>

                        <div class="row">


                            <div class="col-lg-12 col-md-6">
                                <div class="form-group form-check form-switch">
                                    <label>تحویل حضوری</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="InPersonDelivery">
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>نام تحویل گیرنده <span class="required">*</span></label>
                                    <input type="text" class="form-control" asp-for="CustomerName">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>آدرس ایمیل</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 post-Method">
                                <div class="form-group">
                                    <label>استان <span class="required">*</span></label>
                                    <input type="text" class="form-control" asp-for="province">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 post-Method">
                                <div class="form-group">
                                    <label>شهر <span class="required">*</span></label>
                                    <input type="text" class="form-control" asp-for="City">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 post-Method">
                                <div class="form-group">
                                    <label>آدرس <span class="required">*</span></label>
                                    <textarea id="address" cols="30" rows="5" placeholder="آدرس" class="form-control" asp-for="Address"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 post-Method">
                                <div class="form-group">
                                    <label>کد پستی <span class="required">*</span></label>
                                    <input type="text" class="form-control" asp-for="PostalCode">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 post-Method">
                                <div class="form-group">
                                    <textarea id="notes" cols="30" rows="5" placeholder="یادداشت" class="form-control" asp-for="Notes"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">سفارش شما</h3>

                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">نام محصول</th>
                                        <th scope="col">مجموع</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var orderLine in order.OrderLines)
                                    {
                                        <tr>
                                            <td class="product-name">
                                                <a href="#">@orderLine.Product.Name</a>
                                            </td>

                                            <td class="product-total">
                                                <span class="subtotal-amount">@(orderLine.Product.Price * orderLine.Count) تومان</span>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="order-subtotal">
                                            <span>زیرمجموعه</span>
                                        </td>

                                        <td class="order-subtotal-price">
                                            <span class="order-subtotal-amount">@order.EndPrice تومان</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="order-shipping">
                                            <span>هزینه ارسال</span>
                                        </td>

                                        <td class="shipping-price">
                                            <span id="postPrice"> تومان</span>
                                            <span id="freePost" class="d-none"> ارسال رایگان</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="total-price">
                                            <span>مجموع</span>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="subtotal-amount" id="subtotal-amount-with-postal-price">@(order.EndPrice + 35000) تومان</span>
                                            <span class="subtotal-amount d-none" id="subtotal-amount-without-postal-price">@order.EndPrice تومان</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="payment-box">
                            <div class="payment-method">
                                <p>
                                    <input type="radio" onchange="showCardNum()" id="direct-bank-transfer" value="1" asp-for="PaymentMethod">
                                    <label for="direct-bank-transfer">کارت به کارت</label>

                                    با استفاده از گزینه کارت به کارت به یکی از شماره کارت های زیر واریز نمایید و تصویر رسید را بارگذاری کنید  اسرع وقت رسید تایید شده و سفارش شما ارسال می شود.

                                    <div id="cardNumber" class="product-image d-none justify-content-around">
                                        <img style="height:20em !important;border-radius:15px;" class="bluImg" src="/img/BluB1.jpg" id="blu1" alt="image">
                                        <img style="height:20em !important;border-radius:15px;" class="bluImg" src="/img/BluB2.jpg" onfocus="changeImgSrc(/img/BluB2.jpg, blu2)" id="blu2" alt="image">
                                    </div>
                                    <hr />
                                    <div class="mb-3 d-none" id="transactionPic">
                                        <p> **** رسید واریز را آپلود کنید ****</p>
                                        <input class="form-control File-Input" name="transactionPicture" type="file" id="formFile">
                                    </div>

                                </p>
                                <p>
                                    <input disabled type="radio" id="paypal" asp-for="PaymentMethod" value="2">
                                    <label for="paypal" class="text-secondary">درگاه پرداخت (به زودی فعال میشود)</label>
                                </p>
                            </div>

                            <input type="hidden" value="@order.EndPrice" asp-for="SumPrice" />
                            <input type="hidden" value="@order.Id" asp-for="Id" />
                            <input type="submit" class="default-btn order-btn" value="ثبت نهایی سفارش" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script>
        function showCardNum() {
            const testDiv = document.querySelector("#cardNumber");
            testDiv.classList.remove(".d-none");
            testDiv.classList.add("d-flex");
            document.getElementById("transactionPic").classList.remove("d-none");
        }

        function changeImgSrc(imgSrc, id) {
            const img = document.querySelector("#" + id);
            img.setAttribute("src", imgSrc);
        }


        if (document.querySelector("#direct-bank-transfer").hasAttribute("checked")) {
            showCardNum()
        }

    </script>

    <script>
        const postalPrice = 35000;
        document.querySelector("#postPrice").innerHTML = postalPrice + " تومان";

        const btn = document.querySelector("#flexSwitchCheckChecked");
        const infoDiv = document.querySelectorAll(".post-Method");

        function PostMethod() {            
            infoDiv.forEach((item, index, array) => {
                item.classList.toggle("d-none");
            })
            document.querySelector("#postPrice").classList.toggle("d-none");
            document.querySelector("#freePost").classList.toggle("d-none");
            document.querySelector("#subtotal-amount-with-postal-price").classList.toggle("d-none");
            document.querySelector("#subtotal-amount-without-postal-price").classList.toggle("d-none");
        }

        btn.addEventListener("click", PostMethod);
     

    </script>

    @if (ViewBag.Notification != null && (bool)ViewBag.Notification == true)
    {
        <script>
            $.notify("اطلاعات را به درستی وارد کنید", "error");
        </script>
    }
}
<!-- End Checkout Area -->
