@using AYweb.Dal.Entities.Plan
@model List<AYweb.Dal.Entities.Plan.Plan>
<section class="pricing-area ptb-100 pt-0">
    <div class="container">
        <div id="plans" class="section-title">
            <span class="sub-title">قیمت گذاری</span>
            <h2>بهترین برنامه را انتخاب کنید</h2>
            <p>با توجه به نوع خواسته خود بهترین پلن رو میتونید انتخاب کنید</p>
        </div>

        <div class="row">
            @foreach (var plan in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box  @((plan.PlanType==PlanType.Gold)?"orange":"") @((plan.PlanType==PlanType.Bronze)?"red":"") ">
                        <div class="pricing-header">
                            <h3>@plan.Title</h3>
                        </div>

                        <div class="price">
                            @plan.Price
                            <sub>تومان </sub>
                            <sub>/ ماهانه</sub>
                        </div>

                        <ul class="price-features-list">
                            @foreach (var feature in plan.PlanFeatures)
                            {
                                <li><i class="flaticon-tick"></i> @feature.Name</li>
                            }
                        </ul>

                        <a href="#" class="get-started-btn">شروع کنید</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_Shapes" />
</section>