@using AYweb.Core.Convertors
@using AYweb.Dal.Entities.News
@model AYweb.Dal.Entities.News.News

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>وبلاگ</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">آی وب</a></li>
                        <li><a asp-controller="Blog" asp-action="Index">وبلاگ</a></li>
                        <li>خبر</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Shapes" />

</div>
<!-- End Page Title Area -->
<!-- Start Blog Details Area -->
<section class="blog-details-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="/img/blog-image/@Model.PictureName" alt="image">
                    </div>

                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li><span>تاریخ انتشار:</span> <a href="#">@Model.CreateDate.ToShamsi()</a></li>
                                <li><span>توسط:</span> <a asp-controller="Blog" asp-action="Index" asp-route-search="@Model.User.Name">@Model.User.Name</a></li>
                            </ul>
                        </div>

                        <h3>@Model.Title</h3>

                        <p>@Html.Raw(Model.Introduction)</p>

                        <blockquote class="wp-block-quote">
                            <p>@Model.Summary</p>

                            <cite>یاسین عابدینی</cite>
                        </blockquote>


                        <ul class="wp-block-gallery columns-3">
                            @foreach (var picture in Model.NewsGalleries)
                            {
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="/img/blog-gallery/@picture.ImageName" alt="image">
                                    </figure>
                                </li>

                            }
                        </ul>

                        @Html.Raw(@Model.Text)
                    </div>

                    <div class="article-footer">
                        <div class="article-tags">
                            <span><i class="fas fa-bookmark"></i></span>

                            @foreach (var tag in @StringConvertToStringArray.CommaSeparator(Model.Tags ?? ""))
                            {
                                <a asp-controller="Blog" asp-action="Index" asp-route-search="@tag">@tag</a>
                                <span>  </span>
                            }


                        </div>


                        <div class="article-share">
                            <ul class="social">
                                <li><span>اشتراک گذاری:</span></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="post-navigation">
                        <div class="navigation-links">
                            <div class="nav-previous">
                                <a href="#"><i class="flaticon-right-chevron"></i> پست بعدی</a>
                            </div>

                            <div class="nav-next">
                                <a href="#">پست قبلی <i class="flaticon-left-chevron"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h3 class="comments-title">@Model.NewsComments.Count() نظر:</h3>

                        <ol class="comment-list">
                            @foreach (var comment in Model.NewsComments??new List<NewsComment>())
                            {
                                <partial name="_blogComment" model="comment"/>
                            }
                        </ol>

                        <div class="comment-respond">
                            <h3 class="comment-reply-title">نظر بدهید</h3>

                            <partial name="_CommentForm" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <partial name="_Widget" />
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->