@page "{id}"
@using AYweb.Application.Models.Product.Queries.Common
@model AYweb.Presentation.Pages.Admin.Product.EditModel
@{
    var features = ViewData["productFeature"] as List<FeatureResult> ?? new List<FeatureResult>();
}

<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Edit Product</h6>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Product.Id" />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Product Name</label>
            <input type="text" class="form-control" asp-for="Product.Name" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Short Description</span>
            <textarea class="form-control" asp-for="Product.ShortDescription" aria-label="Short Description"></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Main Description</span>
            <textarea class="form-control" asp-for="Product.MainDescription" aria-label="Main Description"></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Seo Description</span>
            <textarea class="form-control" asp-for="Product.SeoDescription" aria-label="Short Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Product Inventory</label>
            <input type="number" class="form-control" asp-for="Product.Inventory" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <label for="exampleInputEmail1" class="form-label">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input asp-for="Product.Price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
        <label for="exampleInputEmail1" class="form-label">Price With Discount</label>
        <div class="input-group mb-5">
            <span class="input-group-text">$</span>
            <input asp-for="Product.DiscountedPercent" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" asp-for="Product.IsSpecial" type="checkbox" role="switch"
                   id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">
                is Special Product ?
            </label>
        </div>
        <div class="mb-5">
            <label for="formFile" class="form-label">Product Image</label>
            <input class="form-control" name="productPictureUp" type="file" id="formFile">
        </div>
        <!-- Start Features -->
        @for (int i = 0; i < features.Count(); i++)
        {
            <div class="row">
                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label">Feature @(i + 1)</label>
                    <input type="text" class="form-control" value="@features[i].Title" name="featureList[@i].Title" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Value @(i + 1)</label>
                    <input type="text" class="form-control" value="@features[i].Value" name="featureList[@i].Value" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
            </div>
        }
        @for (int i = features.Count(); i < 8; i++)
        {
            <div class="row">
                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label">Feature @(i + 1)</label>
                    <input type="text" class="form-control"  name="featureList[@i].Title" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Value @(i + 1)</label>
                    <input type="text" class="form-control"  name="featureList[@i].Value" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
            </div>
        }

        <!-- End Features -->
        <button type="submit" class="btn btn-primary">Edit Product</button>
    </form>
</div>


@section Scripts
{
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('Product_MainDescription', {
            customConfig: '/js/Config.js'
        });

    </script>
}
